.formContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formContainer h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.formContainer p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #666;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
}

.formGroup textarea {
  min-height: 150px;
}

/* Language selection dropdown */
.languageSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
}

/* Monaco Editor container */
.monacoEditorContainer {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 20px;
}

/* Adjust Monaco editor's height for smaller screens */
@media (max-width: 600px) {
  .monacoEditorContainer {
    height: 200px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.saveButton {
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.saveButton:hover {
  background-color: #2563eb;
}

.backButton {
  padding: 10px 20px;
  background-color: #6b7280;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.backButton:hover {
  background-color: #4b5563;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    gap: 5px;
  }

  .buttons button {
    width: 100%;
    margin-bottom: 10px;
  }

  .saveButton,
  .backButton {
    padding: 12px 20px;
    font-size: 1rem;
  }
}
